# Server Configuration
PORT=2314

# AWS Configuration
AWS_REGION=eu-north-1
DYNAMO_TABLE=partner_feed_hotels_imported

# Ratehawk Configuration
RATEHAWK_API_KEY=your_ratehawk_api_key_here
RATEHAWK_BASE_URL=https://api.ratehawk.com

# TBO Configuration
TBO_BASE_URL=http://api.tbotechnology.in/TBOHolidays_HotelAPI
TBO_USERNAME=Revieratravel
TBO_PASSWORD=Rev@79868189

# Duffle API Configuration
DUFFLE_API_TOKEN=your_duffle_api_token_here
